body{
    width: 1280px;
    margin: auto;
}
header{
    top:0;
    display: block;
    width: 1280px;
    position: absolute;
    height: 173px;
    background: #ffffff;
    margin: auto
}
.font-style{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.LOGO{
    position: absolute;
    object-fit: contain;
    width: 138px;
    height: 138px;
}
.LOGO_header{
    margin-top:17px;
    margin-left: 100px;
}
.header-icon{
    object-fit: contain;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
}
.ic_login{
    margin-top: 2px;
    margin-right: 110px;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-list{
    list-style-type: none;
    text-align:center;
}
.nav-list-item{
    display: inline-block;
    width: calc((100%-30px)/6);
    margin-top: 100px;
}
.nav-list-item:hover{
    display: inline-block;
    width: calc((100%-30px)/6);
    margin-top: 100px;
}
.nav-list-item-btn{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 45px;
    font-size: 24px;
    line-height: 45px;
}
.nav-list-item-btn:hover{
    color: #000000;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 45px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 24px;
    line-height: 45px;
}
.nav-sublist{
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 9px;
    background-color:rgba(255, 255, 255, 1) ;
}
.nav-sublist-item{
    position: relative;
    z-index:100;
    display: block;
    border: 1px solid  #99D3D0;
    background-color:rgba(255, 255, 255, 1)
}
.nav-list-item-link{
    position: relative;
    z-index:100;
    color:  #000000;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}
.camera{
    display: block;
    width: 1280px;
    height: 514px;
    position: absolute;
    margin-top: 170px;
}
.camera_pic{
    position: absolute;
}
#banner_point{
    list-style-type: none;
    position: absolute;
    margin-top: 705px;
    margin-left: 550px;
}
.point{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 999em;
    background-color: #6EC6E1;
    cursor:pointer;
}
.active{
    background-color: #369DBE;
    ;
}
.Product{
    position: absolute;
    width: 96px;
    height: 56px;
    color: #99D3D0;
    font-size: 48px;
    margin-top: 790px;
    margin-left: 596px;
    line-height: 56px;
}
.MORE{
    text-decoration: none;
    position: absolute;
    height: 28px;
    margin-top: 850px;
    margin-left: 1093px;
    color: #99D3D0;
    line-height: 28px;
    font-size: 24px;
}
.ic_MORE{
    position: absolute;
    object-fit: contain;
    height:26px;
    width:26px;
    margin-top: 2px;
    margin-left: 5px;
}
.product_link{
    text-decoration: none;
    position: absolute;
    width: 144px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    color: #99D3D0;
}
.product_link1{
    margin-left: 274px;
    margin-top: 1283px;
}
.product_link2{
    margin-left: 861px;
    margin-top: 1283px;
}
.product_link3{
    margin-left: 274px;
    margin-top: 1725px;
}
.product_link4{
    margin-left: 885px;
    margin-top: 1725px;
}
.img_product{
    position: absolute;
    height: 329px;
    width: 500px;
}
.img_product1{
    margin-top: 926px;
    margin-left: 96px;
}
.img_product2{
    margin-top: 926px;
    margin-left: 683px;
}
.img_product3{
    margin-top: 1364px;
    margin-left: 96px;
}
.img_product4{
    margin-top: 1364px;
    margin-left: 683px;
}
footer{
    position: absolute;
    width: 1280px;
    height: 277px;
    margin-left: 0px;
    margin-top: 1850px;
    background: #99D3D0;
}
.LOGO_footer{
    margin-top: 87px;
    margin-left: 80px;
}
.ic_footer{
    position: absolute;
    object-fit: contain;
    height: 25px;
    width: 25px;
}
.ic_fb{
    margin-top: 214px;
    margin-left: 56px;
}
.ic_line{
    margin-top: 214px;
    margin-left: 106px;
}
.ic_ig{
    margin-top: 214px;
    margin-left: 155px;
}
.footer_title{
    font-size: 24px;
    line-height: 28px;
    color: #B28E6A;
    position: absolute;
}
.footer_words{
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #FFFDFD;
}
.about_us{
    width: 102px;
    height: 28px;
    margin-top: 59px;
    margin-left: 289px;

}
.footer_words_area{
    position: absolute;
    margin-top: 90px;
}
.about_us_item{
    margin-left: 310px;
    padding: 10px;
}
.ic_about_us{
    margin-left: -30px;
}

.shopping_info{
    width: 149px;
    height: 150px;
    margin-top: 59px;
    margin-left: 705px;
}
.shopping_info_item{
    margin-left: 695px;
    padding: 10px;
}
.web_info{
    width: 102px;
    height: 28px;
    margin-top: 59px;
    margin-left: 986px;
}
.web_info_item{
    margin-left: 978px;
    padding: 10px;
}
.Copyright{
    margin-top: 241px;
    margin-left: 469px;
    position: absolute;
    width: 343px;
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}