body{
    width: 1280px;
    height:1653px;
    margin: auto;
}
header{
    top:0;
    display: block;
    width: 1280px;
    position: absolute;
    height: 173px;
    background: #ffffff;
    margin: auto
}
.font-style{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.LOGO{
    position: absolute;
    object-fit: contain;
    width: 138px;
    height: 138px;
}
.LOGO_header{
    margin-top:18px;
    margin-left: 100px;
}
.header-icon{
    object-fit: contain;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 99px;
    display: inline-block;
}


.nav-list{
    list-style-type: none;
    text-align:right;
    background: #6EC6E1;
    width: 949px;
    height: 85px;
    margin-top: 88px;
    margin-left: 331px;
}
.nav-list-item{
    display: inline-block;
    width: calc((100%-30px)/6);
    margin-top: 100px;
}
.nav-list-item:hover{
    display: inline-block;
    width: calc((100%-30px)/6);
    margin-top: 100px;
}
.nav-list-item-btn{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 168px;
    height: 37px;
    font-size: 30px;
    line-height: 45px;
    margin-top: 88px;
}
.nav-list-item-btn:hover{
    color: #000000;
    text-decoration: none;
    display: block;
    width: 128px;
    height: 37px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 30px;
    line-height: 45px;
    margin-top: 88px;
}

.camera{
    position: absolute;
    background: #DBE4E7;
    width: 1280px;
    height: 584px;
    margin-top: 173px;
}
.camera_pic{
    display: block;
    width: 1280px;
    height: 422.65px;
    position: absolute;
    margin-top: 233px;
    
}
#banner_point{
    list-style-type: none;
    position: absolute;
    margin-top: 714px;
    margin-left: 550px;
}
.point{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 999em;
    background-color: #6EC6E1;
    cursor:pointer;
}
.active{
    background-color: #369DBE;
    ;
}
.Product{
    position: absolute;
    width: 120px;
    height: 56px;
    color: #ffffff;
    font-size: 28px;
    margin-top: 1230px;
    margin-left: 580px;
    line-height: 32px;
    background-color: #6EC6E1;
    ;
}
.MORE{
    text-decoration: none;
    position: absolute;
    height: 28px;
    margin-top: 850px;
    margin-left: 1093px;
    color: #99D3D0;
    line-height: 28px;
    font-size: 24px;
}
.ic_MORE{
    position: absolute;
    object-fit: contain;
    height:26px;
    width:26px;
    margin-top: 2px;
    margin-left: 5px;
}
.product_link{
    text-decoration: none;
    position: absolute;
    width: 144px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    color: #99D3D0;
}

.img_product{
    position: absolute;
    height: 280px;
    width: 280px;
}
.img_product1{
    margin-top: 866px;
    margin-left: 111px;
}
.img_product2{
    margin-top: 866px;
    margin-left: 507px;
}
.img_product3{
    margin-top: 866px;
    margin-left: 903px;
}

footer{
    position: absolute;
    width: 1280px;
    height: 312px;
    margin-left: 0px;
    margin-top: 1850px;
    background: #369DBE;
}
.LOGO_footer{
    margin-top: 87px;
    margin-left: 80px;
}
.ic_footer{
    position: absolute;
    object-fit: contain;
    height: 68px;
    width: 68px;
}
.ic_fb{
    margin-top: 136.72px;
    margin-left: 868px;
}
.ic_ig{
    margin-top: 136.72px;
    margin-left: 962px;
}
.ic_mail{
    margin-top: 136.72px;
    margin-left: 1054.89px;
}
.ic_line{
    margin-top: 136.72px;
    margin-left: 1140.22px;
}
.footer_title{
    font-size: 30px;
    line-height: 28px;
    color: #ffffff;
    position: absolute;
}
.footer_words{
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 21px;
    color: #ffffff;
}
.about_us{
    width: 214px;
    height: 28px;
    margin-top: 48px;
    margin-left: 77px;

}
.footer_words_area{
    position: absolute;
    margin-top: 90px;
}
.about_us_item{
    margin-left: 310px;
    padding: 10px;
}
.ic_about_us{
    margin-left: -30px;
}

.info{
    width: 149px;
    height: 150px;
    margin-top: 59px;
    margin-left: 705px;
}
.info_item{
    margin-left: 695px;
    padding: 10px;
}


.Copyright{
    margin-top: 182px;
    margin-left: 504px;
    position: absolute;
    width: 272px;
    height: 32px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}